/* <!-- Мочалин Николай START --> */

/* <!-- Мочалин Николай END --> */


/* <!-- Носков Максим START --> */
#Noskov-Maxim h1
{
color: green;
}
/* <!-- Носков Максим END --> */


/* <!-- Севостьянов Сергей START --> */

/* <!-- Севостьянов Сергей END --> */


/* <!-- Софронов Владислав START --> */
  
/* <!-- Софронов Владислав END --> */


/* <!-- Шеварёв Денис START --> */
#Shevarev-Denis .header-ds {
    background-color: #6e6e6e;
    padding: 20px;
    color: #fff;
    font-size: 2em;
    text-align: center;
}
#Shevarev-Denis .header-ds strong {
display: inline-block;    
}
#Shevarev-Denis .accordion-main {
    overflow: hidden;
    text-align: center;
}
#Shevarev-Denis .ul {
    display: table;
    margin: auto;
}
#Shevarev-Denis .footer-ds {
    background-color: #6e6e6e;
    padding: 20px;
    color: #fff;
}
#Shevarev-Denis .footer-ds a {
    color: #fff;
}
#Shevarev-Denis .footer-ds a {
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
}
/* <!-- Шеварёв Денис END --> */


/* <!-- Лямина Марина START --> */
  
/* <!-- Лямина Марина END --> */


/* <!-- Медведева Мария START --> */
  
/* <!-- Медведева Мария END --> */


/* <!-- Маресев Сергей START --> */
  
/* <!-- Маресев Сергей END --> */


/* <!-- Банденков Владимир START --> */
  
/* <!-- Банденков Владимир END --> */


/* <!-- Скотников Егор START --> */
  
/* <!-- Скотников Егор END --> */


/* <!-- Карасев Эдуард START --> */
  
/* <!-- Карасев Эдуард END --> */


/* <!-- Линючев Никита START --> */
  
/* <!-- Линючев Никита END --> */


/* <!-- Филин Илья START --> */
  
/* <!-- Филин Илья END --> */