/* <!-- Мочалин Николай START --> */

/* <!-- Мочалин Николай END --> */


/* <!-- Носков Максим START --> */

#Noskov-Maxim body
{
    font-family: Arial, sans-serif;
    margin: 20px;
    background:linear-gradient(320deg,#eb92be,#ffef78,#63c9b4);
}
#Noskov-Maxim h1
{
    text-align: center;
    color: #333;
    font-family: cursive;
}
#Noskow-Maxim h2
{
    font-size: 18px;
    margin-top: 30px;
    color:#333
}
#Noskow-Maxim p
{
    margin-top: 10px;
    color: #555;
    font-size: 16px;
}
#Noskow-Maxim ul
{
    margin-top: 10px;
    margin-left: 20px;
    color: #555;
    font-size: 16px;
}
#Noskow-Maxim a
{
    color: #007bff;
    text-decoration: none;
}
#Noskow-Maxim footer
{
    margin-top: 50px;
    text-align: center;
    color: #777;
}
#Noskow-Maxim #profile-image
{
    object-fit: cover;
    height: 400px;
    border-radius: 50px;
}

#Noskow-Maxim #project-description
{
    margin-top: 20px;
}

#Noskow-Maxim #project-link
{
    margin-top: 10px;
}
#Noskow-Maxim .img:hover
{
    transform: rotate(-3deg);
    box-shadow: 0 0 40px rgba(236,4, 4, 0.5);
}


/* <!-- Носков Максим END --> */


/* <!-- Севостьянов Сергей START --> */ 
#Sevostyanov-Sergey .header
{
    text-align: center;
    font-size: 21px;
    background-color: black;
    padding: 250px 80px;
    line-height: 30px;
    color: whitesmoke;
}
#Sevostyanov-Sergey h1
{
    font-size: 35px;
}
#Sevostyanov-Sergey
{
    font-family: Comic Sans MS, "Helvetica Neue", Helvetica, sans-serif;
}
#Sevostyanov-Sergey .accordion-body{
    padding: 0px;
}
#Sevostyanov-Sergey .links
{
    margin-right: 30px;
    font-size: 16px;
    display: inline-block;
}
#Sevostyanov-Sergey .dline
{
    line-height: 40px;
}
#Sevostyanov-Sergey h2
{
    font-size: 21px;
}
#Sevostyanov-Sergey .header_nav a
{
    text-decoration: none;
    padding: 0 10px; 
    color: whitesmoke;
}
#Sevostyanov-Sergey .header_nav li:first-child a
{
    padding-left: 0;
}
#Sevostyanov-Sergey .header_nav a:hover
{
    text-decoration: underline;
    color: lightgray;
}
#Sevostyanov-Sergey nav ul
{
    list-style: none; 
    padding: 0; 
}
#Sevostyanov-Sergey .info p
{
    font-size: 16px;
}
#Sevostyanov-Sergey .flex-container
{
    padding: 30px 200px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    border: 3px solid black;
}
#Sevostyanov-Sergey .showcase
{
    display: flex;
    width: 20%;
    height: auto;
    border: 3px solid black;
    padding-top: 30px;
}
#Sevostyanov-Sergey .content
{
    display: flex;
}
#Sevostyanov-Sergey #line
{
    background-color: black;
}
#Sevostyanov-Sergey #hardskills
{
    text-align: center;
}
#Sevostyanov-Sergey .info2
{
    margin: auto;
}
#Sevostyanov-Sergey table 
{
    border-collapse: separate; 
    border-spacing: 3em;
}
/* <!-- Севостьянов Сергей END --> */


/* <!-- Софронов Владислав START --> */
#Sofronov-Vladislav .header
{
    background-color: #333;
    padding: 20px;
}
#Sofronov-Vladislav .text 
{
    margin: auto;
    background-color: #7e66d3;
      width: 80%;
      padding: 10px 20px;
      display: flex;
      flex-direction: column;
}
#Sofronov-Vladislav .body {
    background-color: #edeef6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#Sofronov-Vladislav .nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#Sofronov-Vladislav .nav ul li {
    display: inline;
}
#Sofronov-Vladislav .nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}
#Sofronov-Vladislav .nav ul li a:hover {
    background-color: #555;
}
#Sofronov-Vladislav .dropbtn {
    background-color: #d48620;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
#Sofronov-Vladislav .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}
#Sofronov-Vladislav .dropdown {
    position: relative;
    display: inline-block;
}
#Sofronov-Vladislav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
#Sofronov-Vladislav .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
#Sofronov-Vladislav .dropdown-content a:hover {background-color: #ddd}
#Sofronov-Vladislav .show {display:block;}
/* <!-- Софронов Владислав END --> */


/* <!-- Шеварёв Денис START --> */
#Shevarev-Denis .header-ds {
    background-color: #6e6e6e;
    padding: 20px;
    color: #fff;
    font-size: 2em;
    text-align: center;
}
#Shevarev-Denis .header-ds strong {
display: inline-block;    
}
#Shevarev-Denis .main-ds {
    overflow: hidden;
    text-align: center;
}
#Shevarev-Denis ul {
    display: table;
    margin: auto;
}
#Shevarev-Denis .footer-ds {
    background-color: #6e6e6e;
    padding: 20px;
    color: #fff;
}
#Shevarev-Denis .footer-ds a {
    color: #fff;
}
#Shevarev-Denis .footer-ds a {
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
}
/* <!-- Шеварёв Денис END --> */


/* <!-- Лямина Марина START --> */
  
/* <!-- Лямина Марина END --> */


/* <!-- Медведева Мария START --> */
  
/* <!-- Медведева Мария END --> */


/* <!-- Маресев Сергей START --> */
  
/* <!-- Маресев Сергей END --> */


/* <!-- Банденков Владимир START --> */
  
/* <!-- Банденков Владимир END --> */


/* <!-- Скотников Егор START --> */
#Skotnikov-Egor html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(z.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    min-width: 700px;
    min-height: 800px;
}
#Skotnikov-Egor .wrapper{
    min-width: 400px;
    background-color: black;
    padding: 20px;
    background-attachment: fixed; 
	background-repeat: repeat-x;
}
#Skotnikov-Egor .header__logo__top{
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: flex-start
}
#Skotnikov-Egor .header__logo__text{
    display: flex;
    justify-content: flex-start;
    font-size: 1em;
    color: #dedede;
    display: flex;
}
#Skotnikov-Egor .header{
    padding: 0 17% 0 17%;
    display: flex;
}
#Skotnikov-Egor .header__icons__tg{
    display: flex;
    justify-content: flex-end;
}
#Skotnikov-Egor .header__icons__email{
    display: flex;
    justify-content: flex-end;
    padding-right: 1%;
}
#Skotnikov-Egor .header__icons__gh{
    display: flex;
    justify-content: flex-end;
    padding-right: 1%;
}
#Skotnikov-Egor .header__icons{
    flex: 1;
    margin-left: 20px;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-content: flex-end;
}
#Skotnikov-Egor .header__logo{
    flex: 1;
}

/* .main{
    padding: 0 20% 0 20%;
    background-color: #dedede;
} */
#Skotnikov-Egor .content{
    font-weight: 700;
    padding: 20px 20px 10px 20px;
    color:black;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
}
#Skotnikov-Egor .content__info{
    padding: 0 0  5px 0;
    color: black;
    font-size: 0.8em;
    font-weight: 400;
}
#Skotnikov-Egor .maininfo{
    padding: 0 17% 0 17%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
#Skotnikov-Egor .maininfo:after{ 
    background-color: #dedede;
    content: '';
    display: block;
    position: absolute;
    top: 0%;
    left: 17%;
    right: 17%;
    bottom: 0%;
    z-index: -1;
}
#Skotnikov-Egor .header__logo__tg{
    flex-wrap: wrap;
    display: flex;
}
#Skotnikov-Egor .otstup{
    display: block;
}
#Skotnikov-Egor .content{
    font-weight: 700;
    padding: 20px 20px 10px 20px;
    color:black;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
}

#Skotnikov-Egor .maininfo:after{ 
    background-color: #dedede;
    content: '';
    display: block;
    position: absolute;
    top: 0%;
    left: 17%;
    right: 17%;
    bottom: 0%;
    z-index: -1;
}
#Skotnikov-Egor .maininfo article{
    flex-basis: 50%;
    padding: 20px;
    box-sizing: border-box;
    }
#Skotnikov-Egor .maininfo article:nth-child(2n){
    flex-basis: 50%;
    padding: 20px;
    box-sizing: border-box;
    }
#Skotnikov-Egor .maininfo article:nth-child(2n + 1){
    flex-basis: 50%;
    padding: 20px;
    box-sizing: border-box;
    }
#Skotnikov-Egor .maininfo{
        padding: 0 17% 0 17%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
#Skotnikov-Egor .maininfo:after{ 
        background-color: #dedede;
        content: '';
        display: flex;
        top: 0%;
        left: 17%;
        right: 17%;
        bottom: 0%;
        z-index: -1;
    }
#Skotnikov-Egor .otstp{
    padding: 0 0 5px  0 ;
}
#Skotnikov-Egor .ul{
    padding: 0 0 0 0;
}
#Skotnikov-Egor .oglav{
    padding: 3px 0 0 0;
}
#Skotnikov-Egor .page{
    min-width: 900px;
}
/* <!-- Скотников Егор END --> */


/* <!-- Карасев Эдуард START --> */
#Karasev-Eduard .html,body { height:100%; }

#Karasev-Eduard .header-karasev {
    background-color: #333;
    padding: 20px;
  }

  #Karasev-Eduard .text {
  margin: auto;
  background-color: #93acb8;
    width: 80%;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
}

#Karasev-Eduard .body {
    background-color: #edeef6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  #Karasev-Eduard .nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  #Karasev-Eduard .nav ul li {
    display: inline;
  }
  
  #Karasev-Eduard .nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
  }
  
  #Karasev-Eduard .nav ul li a:hover {
    background-color: #555;
  }
  
  /* Кнопка выпадающего списка */
  #Karasev-Eduard .dropbtn-karasev {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Кнопка выпадающего меню при наведении и фокусировке */
#Karasev-Eduard .dropbtn-karasev:hover, .dropbtn-karasev:focus {
  background-color: #2980B9;
}

/* Контейнер <div> - необходим для размещения выпадающего содержимого */
#Karasev-Eduard .dropdown-karasev {
  position: relative;
  display: inline-block;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
#Karasev-Eduard .dropdown-content-karasev {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Ссылки внутри выпадающего списка */
#Karasev-Eduard .dropdown-content-karasev a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Изменение цвета выпадающих ссылок при наведении курсора */
#Karasev-Eduard .dropdown-content-karasev a:hover {background-color: #ddd}

/* Показать выпадающее меню (используйте JS, чтобы добавить этот класс .dropdown-content содержимого, когда пользователь нажимает на кнопку выпадающего списка) */
#Karasev-Eduard .show {display:block;}
/* <!-- Карасев Эдуард END --> */


/* <!-- Линючев Никита START --> */
  
/* <!-- Линючев Никита END --> */


/* <!-- Филин Илья START --> */
  
/* <!-- Филин Илья END --> */