/* <!-- Мочалин Николай START --> */

/* <!-- Мочалин Николай END --> */


/* <!-- Носков Максим START --> */
#Noskov-Maxim h1
{
color: green;
}
/* <!-- Носков Максим END --> */


/* <!-- Севостьянов Сергей START --> */

/* <!-- Севостьянов Сергей END --> */


/* <!-- Софронов Владислав START --> */
  
/* <!-- Софронов Владислав END --> */


/* <!-- Шеварёв Денис START --> */
  
/* <!-- Шеварёв Денис END --> */


/* <!-- Лямина Марина START --> */
  
/* <!-- Лямина Марина END --> */


/* <!-- Медведева Мария START --> */
.container{
	max-width: 900px;
	background: #fff;
	margin: 0px auto 0 px;
	box-shadow:  1px 1px 2px #DAD7D7;
	border-radius: 3px;
	padding: 40px;
	margin-top: 50px;
}
.FIO{
	margin-bottom: 30px;
}
.full-name{
	font-size: 40px;
	text-transform: uppercase;
	margin-bottom: 5px;
}
.first-name{
		font-weight: 700;
}
.last-name{
	font-weight: 300;
}
.contact-info{
	margin-bottom: 20px;
}
.email ,
.phone {
	color:  #999;
	font-weight: 300;
}
.separator{
	height: 10px;
	display: inline-block;
	border-left: 2px solid #999;
	margin: 0px 10px;
}
.position{
	font-weight: bold;
	display: inline-block;
	margin-right: 10px;
	text-decoration: underline;
}
.details{
	line-height: 20px;
}
.section{
	margin-bottom: 40px;
}
.section__title{
	letter-spacing: 2px;
	color: #54AFE4;
	font-weight: bold;
	margin-bottom: 10px;
	text-transform: uppercase;
}
.section__list-item{
	margin-bottom: 40px;
}
.left , 
.right{
	vertical-align: top;
	display: inline-block;
}
.left{
	width: 50%;
}
.right{
	text-align: right;
	width: 49%;
}
.name{
	font-weight: bold;
}
  
/* <!-- Медведева Мария END --> */


/* <!-- Маресев Сергей START --> */
  
/* <!-- Маресев Сергей END --> */


/* <!-- Банденков Владимир START --> */
  
/* <!-- Банденков Владимир END --> */


/* <!-- Скотников Егор START --> */
  
/* <!-- Скотников Егор END --> */


/* <!-- Карасев Эдуард START --> */
  
/* <!-- Карасев Эдуард END --> */


/* <!-- Линючев Никита START --> */
  
/* <!-- Линючев Никита END --> */


/* <!-- Филин Илья START --> */
  
/* <!-- Филин Илья END --> */