/* <!-- Мочалин Николай START --> */

/* <!-- Мочалин Николай END --> */


/* <!-- Носков Максим START --> */
#Noskov-Maxim h1
{
color: green;
}
/* <!-- Носков Максим END --> */


/* <!-- Севостьянов Сергей START --> */

/* <!-- Севостьянов Сергей END --> */


/* <!-- Софронов Владислав START --> */
  
/* <!-- Софронов Владислав END --> */


/* <!-- Шеварёв Денис START --> */
  
/* <!-- Шеварёв Денис END --> */


/* <!-- Лямина Марина START --> */
  
/* <!-- Лямина Марина END --> */


/* <!-- Медведева Мария START --> */
  
/* <!-- Медведева Мария END --> */


/* <!-- Маресев Сергей START --> */
  
/* <!-- Маресев Сергей END --> */


/* <!-- Банденков Владимир START --> */
  
/* <!-- Банденков Владимир END --> */


/* <!-- Скотников Егор START --> */
#Skotnikov-Egor html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(z.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    min-width: 700px;
    min-height: 800px;
}
#Skotnikov-Egor .wrapper{
    min-width: 400px;
    background-color: black;
    padding: 20px;
    background-attachment: fixed; 
	background-repeat: repeat-x;
}
#Skotnikov-Egor .header__logo__top{
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: flex-start
}
#Skotnikov-Egor .header__logo__text{
    display: flex;
    justify-content: flex-start;
    font-size: 1em;
    color: #dedede;
    display: flex;
}
#Skotnikov-Egor .header{
    padding: 0 17% 0 17%;
    display: flex;
}
#Skotnikov-Egor .header__icons__tg{
    display: flex;
    justify-content: flex-end;
}
#Skotnikov-Egor .header__icons__email{
    display: flex;
    justify-content: flex-end;
    padding-right: 1%;
}
#Skotnikov-Egor .header__icons__gh{
    display: flex;
    justify-content: flex-end;
    padding-right: 1%;
}
#Skotnikov-Egor .header__icons{
    flex: 1;
    margin-left: 20px;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-content: flex-end;
}
#Skotnikov-Egor .header__logo{
    flex: 1;
}

/* .main{
    padding: 0 20% 0 20%;
    background-color: #dedede;
} */
#Skotnikov-Egor .content{
    font-weight: 700;
    padding: 20px 20px 10px 20px;
    color:black;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
}
#Skotnikov-Egor .content__info{
    padding: 0 0  5px 0;
    color: black;
    font-size: 0.8em;
    font-weight: 400;
}
#Skotnikov-Egor .maininfo{
    padding: 0 17% 0 17%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
#Skotnikov-Egor .maininfo:after{ 
    background-color: #dedede;
    content: '';
    display: block;
    position: absolute;
    top: 0%;
    left: 17%;
    right: 17%;
    bottom: 0%;
    z-index: -1;
}
#Skotnikov-Egor .header__logo__tg{
    flex-wrap: wrap;
    display: flex;
}
#Skotnikov-Egor .otstup{
    display: block;
}
#Skotnikov-Egor .content{
    font-weight: 700;
    padding: 20px 20px 10px 20px;
    color:black;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
}

#Skotnikov-Egor .maininfo:after{ 
    background-color: #dedede;
    content: '';
    display: block;
    position: absolute;
    top: 0%;
    left: 17%;
    right: 17%;
    bottom: 0%;
    z-index: -1;
}
#Skotnikov-Egor .maininfo article{
    flex-basis: 50%;
    padding: 20px;
    box-sizing: border-box;
    }
#Skotnikov-Egor .maininfo article:nth-child(2n){
    flex-basis: 50%;
    padding: 20px;
    box-sizing: border-box;
    }
#Skotnikov-Egor .maininfo article:nth-child(2n + 1){
    flex-basis: 50%;
    padding: 20px;
    box-sizing: border-box;
    }
#Skotnikov-Egor .maininfo{
        padding: 0 17% 0 17%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
#Skotnikov-Egor .maininfo:after{ 
        background-color: #dedede;
        content: '';
        display: flex;
        top: 0%;
        left: 17%;
        right: 17%;
        bottom: 0%;
        z-index: -1;
    }
#Skotnikov-Egor .otstp{
    padding: 0 0 5px  0 ;
}
#Skotnikov-Egor .ul{
    padding: 0 0 0 0;
}
#Skotnikov-Egor .oglav{
    padding: 3px 0 0 0;
}
#Skotnikov-Egor .page{
    min-width: 900px;
}
/* <!-- Скотников Егор END --> */


/* <!-- Карасев Эдуард START --> */
  
/* <!-- Карасев Эдуард END --> */


/* <!-- Линючев Никита START --> */
  
/* <!-- Линючев Никита END --> */


/* <!-- Филин Илья START --> */
  
/* <!-- Филин Илья END --> */